body {
  margin: 0;
  font-family: gabriola;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wel {
  color: white;
  background-color: darkolivegreen;
}

#headimage {
  border-radius: 20px;
  float: left;
  margin-left: 40px; 
  height: 250px;
  width: 275px;
}

#login {
  height: 50px;
  width: 500px;
  background-color: rgb(1, 0, 29);
  text-align: center;
  position: fixed;
  margin-left: 500px;
  border-radius: 20px;
}

#recordform {
  height: 150px;
  width: 300px;
  background-color: rgb(1, 0, 29);
  text-align: center;
  position: fixed;
  margin-left: 500px;
  border-radius: 25px;
}

#signupform {
  height: 150px;
  width: 400px;
  background-color: rgb(1, 0, 29);
  text-align: center;
  position: fixed;
  margin-left: 500px;
  border-radius: 20px;
  }

#userimage {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.userrecord {
  float: right;
  font-size: 15px;
  font-weight: bold; 
  margin-right: 20px;
  }

#userrecords {
  color: white;
  height: 175px;
  width: 1300px;
  background-color: rgb(38, 41, 40);
}

#record_image {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 25px;
}

.edit {
  text-align: center;
  position: absolute;
  height: 150px;
  width: 300px;
  background-color: goldenrod;
  border-radius: 25px;
}


#rcont {
  color: rgb(253, 253, 253);
  background-color: rgb(8, 8, 10);
  height: 2000px;
  width: 1300px;
  border-radius: 25px;
}

.record {
    /* padding: 25px;  */
   float: left; 
   margin-left: 15px;
   margin-bottom: 80px;

   height: 200px;
   width: 200px;
   font-weight: bold;
}

.star {
  font-size: 20px;
  color: goldenrod; 
}

.empty {
  font-size: 20px;
  color: white;    
}

#options {
  color: black;
  margin-top: -200px;
  position: relative; 
  border-radius: 20px;
  height: 150px;
  width: 200px;
  background-color: white; 
  border-color: black;
  border-style: double;
   
}

.hidden {
  visibility: hidden;

}

.nothidden {
  visibility: visible;
}





